/** MIXINS **/
@mixin positioning($left, $top, $overflow, $index) {
  left: $left;
  top: $top;
  overflow: $overflow;
  z-index: $index;
}

@mixin hovering($bg-Color, $fontColor) {
  background-color: $bg-Color;
  color: $fontColor;
}
