@use 'general.scss';
@import './variables.scss';
@import './extends.scss';
@import './mixins.scss';
@import './header.scss';
@import './main.scss';
@import './media-queries.scss';

@keyframes rotating-something {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moving-something {
  0%,
  100% {
    top: 380px;
    right: -315px;
  }

  50% {
    top: 84px;
    right: -28px;
  }
}

@keyframes moving-something-smalller {
  0%,
  100% {
    transform: translate(0);
  }

  50% {
    transform: translate(50%);
  }
}
